package main

import (
	"context"
	"log"

	"github.com/flocko-motion/schemaf/schemaf"

	"schemaf.local/{{.Name}}/api"
	"schemaf.local/{{.Name}}/db"
)

func main() {
	ctx := context.Background()
	app := schemaf.New(ctx)

	app.AddApi(api.Provider)
	app.AddDb(db.Provider)
	app.SetFrontend(FrontendFS())

	if err := app.Run(); err != nil {
		log.Fatal(err)
	}
}
